<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    <uses-permission android:name="android.permission.INTERNET" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/a11y"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_a11y_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDM2Acessibilidade"
        tools:targetApi="31">
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:screenOrientation="userPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
    </application>

</manifest>